{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block body %}
<div class="main container">
    <div class="alert alert-danger" role="alert">The server encountered an error.</div>
    <div style="text-align:center;"><img src="https://res.starwarsccg.org/cards/DeathStarII-Light/large/criticalerrorrevealed.gif" /></div>
</div>
{% endblock %}
