{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
<div class="main container">
    <div class="alert alert-danger" role="alert">Page not found</div>
    <div style="text-align:center;"><img src="https://res.starwarsccg.org/cards/Hoth-Dark/large/thatsittherebelsarethere.gif" /></div>
</div>
{% endblock %}
