{% extends 'AppBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="main white container">

  <div class="page-content">
    <h1>{{ block('title') }}</h1>
    <p>A website for developing and maintaining decks for SWCCG.</p>
  </div>

</div>
{% endblock %}
